/* styles.css */

/* ヘッダー */
header {
    background-color: #ffeecc;
    padding: 20px;
}

/* ナビゲーション */
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* メインコンテンツ */
main {
    padding: 20px;
}

/* フッター */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
