/* styles.css */

/* ヘッダー */
header {
    background-color: #fcbc8c;
    padding: 20px 0px 0px 0px;
}
.header_top{
    padding: 0% 2%;
}
.header-left,
.header-right{
    padding: 2% 0%;
    width: 50vw;
}
.header-right{
    color: white;
    display: flex;
    justify-content: center;
}
/* 電話番号 */
span .tel a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.tel a{
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}
/* ナビゲーション */
nav ul {
    width: auto;
}
ul.g-menu{
    padding-left: 0;
    display: flex;
    justify-content: space-around;
}
.g-menu{
    display: block;
    margin: 0 auto;
}
.g-menu li{
    text-align: center;
    font-weight: bold;
}
nav ul li {
    display: inline;
    width: 200px;
}
.shop-info{
    margin: 0px;
}
ul.shop-info li::before{
    content: "■";
    width: 5px;
    height: 5px;
}
nav ul li a {
    text-decoration: none;
    color:#d44444;
    font-weight: bold;
}
img.x-logo{
    width: 40px;
    text-align: right;
}
img.logo{
    width: 350px;
}