/* styles.css */

/* ヘッダー */
header {
    background-color: #fcbc8c;
    padding: 20px 0px 0px 0px;
}

.header-left,
.header-right{
    padding: 2% 0%;
    width: 50vw;
}
.header-right{
    color: white;
    display: flex;
    justify-content: center;
}
/* 電話番号 */
span .tel a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.tel a{
    color: white;
    font-size: 30px;
    font-weight: bold;
}
/* ナビゲーション */
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: auto;
}
.g-menu{
    display: block;
    margin: 0 auto;
}
.g-menu li{
    text-align: center;
    font-weight: bold;
    width: 100px;
}
nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color:#d44444;
    font-weight: bold;
}
img.x-logo{
    width: 40px;
}
img.logo{
    width: 350px;
}